@import "../../style/variables.scss";
@import "../../style/template.scss";

.nav {
    display: flex;
}

.item {
    text-decoration: none;
    padding-left: 2vw;
    color: $color3;
}

@media (min-width: 650px) and (max-width: 1023px) {
    /* CSS-стили Tablet*/

}

@media screen and (max-width: 649px) {
    /* CSS-стили Smartphone*/

}