@import "../../style/variables.scss";
@import "../../style/template.scss";

.cont {
    height: 82vh;
    display: grid;
    grid-template-columns: 0.9fr 0.7fr;
    background-color: $color1;
    @include text2;
}

.library_img {
    height: 100%;
    width: 100%;
}

.content_block {
    background-color: $color3;
    height: 70%;
    margin-top: 10%;
    position: relative;
    right: 25%;
}

.text_block {
    padding-top: 10%;
    padding-left: 8%;
}

.text {
    color: $background2;
}

.button_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
    padding: 9vw 3.5vw 0 3.5vw;
}

button {
    height: 8vh;
    border: none;
    @include text1;
    color: $color3;
    width: 100%;
}

button:hover {
    cursor: pointer;
}

.button_game {
    background-color: $background2;
}

.button_list {
    background-color: $color1;
}


@media (min-width: 650px) and (max-width: 1023px) {

    /* CSS-стили Tablet*/
    .cont {
        @include text1;
        height: 83.8vh;
    }

    .library_img {
        width: 65vw;
    }

    .content_block {
        height: 50%;
        width: 47vw;
        margin-top: 22%;
        right: 35%;
    }
}

@media screen and (max-width: 649px) {

    /* CSS-стили Smartphone*/
    .cont {
        height: 81vh;
        @include text4;
    }

    .library_img {
        width: 85vw;
    }

    .content_block {
        height: 50%;
        width: 49vw;
        margin-top: 34%;
        right: 85%;
    }

    button {
        height: 7vh;
        @include text4;
    }
}