@import "../../style/variables.scss";
@import "../../style/template.scss";

.card {
    border: 3px solid $color1;
    border-radius: 25px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 22vw;
    width: 19vw;
    gap: 0.8rem;
    margin-top: 2%;
    padding-top: 15%;

}

.transcription {
    color: $color3;

}

.transcriptionActiv {
    color: $color1;
}

.buttonActiv {
    display: none;
}

.button {
    color: $color1;
    width: 9vw;
    height: 3.5vw;
    border-radius: 10vw;
    border: 1px solid $color1;
    background-color: $color3;
}

.button:focus {
    width: 9.5vw;
    height: 3.5vw;
    color: $color1;
    @include text1;
}

@media (min-width: 650px) and (max-width: 1023px) {

    /* CSS-стили Tablet*/
    .card {

        height: 31vw;
        width: 25vw;
    }

    .button {
        width: 12vw;
        height: 5vw;
    }

    .button:focus {
        width: 13.5vw;
        height: 5vw;
        @include text4;
    }
}

@media screen and (max-width: 649px) {

    /* CSS-стили Smartphone*/
    .card {

        height: 44vw;
        width: 36vw;
    }

    .button {
        width: 18vw;
        height: 6vw;
        margin-bottom: 5%;
    }

    .button:focus {
        width: 22vw;
        height: 8vw;
        @include text4;
    }
}