@import "../../style/variables.scss";
@import "../../style/template.scss";

.cont {
    @include text1;
    // height: 80vh;
    margin: 5vw auto 5vw auto;
}

.conteunerButton {
    margin: auto;
    padding: auto;
    width: 10vw;
    margin-top: 2vw;
}

.buttonSave {
    text-align: center;
}

.icon {
    width: 2vw;
}


@media (min-width: 600px) and (max-width: 1023px) {
    /* CSS-стили Tablet*/

}

@media screen and (max-width: 599px) {
    /* CSS-стили Smartphone*/

}