@import "../../style/variables.scss";
@import "../../style//template.scss";

.conteuner {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 82vh;
    background-color: $color2;
}

.img {
    height: 30vh;
    width: 45vw;
}

.text {
    @include text2;
    margin-bottom: 8vw;
}

@media (min-width: 650px) and (max-width: 1023px) {

    /* CSS-стили Tablet*/
    .img {
        height: 22vh;
        width: 40vw;
        padding-left: 10%;
    }
}

@media screen and (max-width: 649px) {

    /* CSS-стили Smartphone*/
    .conteuner {
        height: 81vh;
    }

    .img {
        height: 19vh;
        width: 39vw;
        padding-left: 25%;
    }
}